
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <main>
                <div>
                    <br />  
                     <h1>MARMARAM ET </h1>
                    <div class="float-sm-right">
                        <img src="~/foto/mcm.jpg" width="300px" height="300px">
                    </div><br>
                   
                    
                    
                    <p>2020 yılında daha yeni kurulmuş bir restoran olan <b> Marmaram ET </b> Kodaloğlu kardeşlerin birlikteliği ile kurulmuştur. </p>
                    <h2>HAKKIMIZDA</h2>
                    <p>Çiğ,pişmiş olmak üzere ET ve TAVUK ürünlerinin her çeşidini içinde bulunduran MARMARAM KASAP ET MANGAL kasap ve restoran olmak üzere iki bölümden oluşmaktadır.Restoran bölümü olan Salonumuzda 300 kişilik yer bulunmaktadır ve Toplu yemek yenilmesi rahatlıkla mümkündür.Ferah bir havası olan Salonumuzda bir havuz ve yan taraflarında şelale bulunmaktadır. </p>
                 <br><br><br><br>
                  <b>İLETİŞİM :(0216) 309 9450 <br>
                 <b>KODALOĞLU ET VE GIDA
                </div>
            </main>